In [2]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame

In [3]:
ser1 = Series([0,1,2],index = ['A','B','C'])

In [4]:
ser2 = Series([3,4,5,6],index = ['A','B','C','D'])

In [5]:
ser1 + ser2

A     3
B     5
C     7
D   NaN
dtype: float64

In [6]:
dframe1 = DataFrame(np.arange(4).reshape((2,2)), 
                   columns = list('AB'), index = ['NYC','LA'])
dframe1

     A  B
NYC  0  1
LA   2  3

In [7]:
dframe2 = DataFrame(np.arange(9).reshape((3,3)), 
                   columns = list('ADC'), index = ['NYC','SF','LA'])
dframe2

     A  D  C
NYC  0  1  2
SF   3  4  5
LA   6  7  8

In [8]:
dframe1 + dframe2

      A   B   C   D
LA    8 NaN NaN NaN
NYC   0 NaN NaN NaN
SF  NaN NaN NaN NaN

In [9]:
dframe1.add(dframe2,fill_value=0)

     A   B  C  D
LA   8   3  8  7
NYC  0   1  2  1
SF   3 NaN  5  4

In [10]:
ser3 = dframe2.ix[0]
ser3

A    0
D    1
C    2
Name: NYC, dtype: int64

In [11]:
dframe2 - ser3

     A  D  C
NYC  0  0  0
SF   3  3  3
LA   6  6  6

# Lecture 21 - Rank and Sort

In [6]:
serr1 = Series(range(3),index = ['C','A','B'])

In [7]:
serr1

C    0
A    1
B    2
dtype: int64

## order by index

In [13]:
serr1.sort_index()

A    1
B    2
C    0
dtype: int64

## order by values

In [8]:
serr1.order()

C    0
A    1
B    2
dtype: int64

In [9]:
serr1

C    0
A    1
B    2
dtype: int64

## Rank

In [11]:
from numpy.random import randn
serr2 = Series(randn(10))
serr2

0    0.419466
1    1.051846
2    0.084741
3   -0.221487
4    1.685123
5   -0.307364
6   -0.494221
7    1.280028
8   -0.420721
9   -1.743034
dtype: float64

In [12]:
serr2.sort()
serr2

9   -1.743034
6   -0.494221
8   -0.420721
5   -0.307364
3   -0.221487
2    0.084741
0    0.419466
1    1.051846
7    1.280028
4    1.685123
dtype: float64

In [21]:
serr2.rank()

9     1
8     2
1     3
0     4
6     5
2     6
3     7
5     8
4     9
7    10
dtype: float64

### NEW Series

In [24]:
serr3 = Series(randn(10))
serr3

0   -0.948418
1    0.813612
2   -0.310686
3    0.640362
4   -1.364021
5    0.427623
6   -1.026337
7   -0.790119
8    0.755899
9   -1.103476
dtype: float64

In [25]:
serr3.order()   # this does NOT change original

4   -1.364021
9   -1.103476
6   -1.026337
0   -0.948418
7   -0.790119
2   -0.310686
5    0.427623
3    0.640362
8    0.755899
1    0.813612
dtype: float64

In [26]:
serr3

0   -0.948418
1    0.813612
2   -0.310686
3    0.640362
4   -1.364021
5    0.427623
6   -1.026337
7   -0.790119
8    0.755899
9   -1.103476
dtype: float64

In [27]:
serr3.rank()    # this gives 'rank' to each element - not changing orders, though

0     4
1    10
2     6
3     8
4     1
5     7
6     3
7     5
8     9
9     2
dtype: float64

In [28]:
serr3.sort()   # this DOES change the original Series
serr3

4   -1.364021
9   -1.103476
6   -1.026337
0   -0.948418
7   -0.790119
2   -0.310686
5    0.427623
3    0.640362
8    0.755899
1    0.813612
dtype: float64