In [2]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd 

from numpy.random import randn

In [3]:
ser1 = Series([1,2,3,4],index = ['A','B','C','D'])
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [4]:
ser2 = ser1.reindex(['A','B','C','D','E','F'])
ser2

A     1
B     2
C     3
D     4
E   NaN
F   NaN
dtype: float64

In [5]:
ser2.reindex(['A','B','C','D','E','F','G'],fill_value=0)

A     1
B     2
C     3
D     4
E   NaN
F   NaN
G     0
dtype: float64

In [6]:
ser3 = Series(['USA','Mexico','Canada'],index=[0,5,10])
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [7]:
ranger = range(15)
ser3.reindex(ranger,method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [9]:
dframe = DataFrame(randn(25).reshape((5,5)),index = ['A','B','D','E','F'],
                   columns = ['col1','col2','col3','col4','col5'])
dframe

       col1      col2      col3      col4      col5
A  0.784344  0.358296 -1.776142 -0.817136 -1.730637
B -0.315961  1.854868 -0.963207  2.426252 -1.565647
D  0.099807  1.414813 -0.435944 -0.776816 -0.506856
E -0.643955 -1.172568 -0.404061 -0.703940  1.258337
F  0.155710  1.639633 -1.388666  2.385602 -1.007078

In [10]:
dframe2 = dframe.reindex(['A','B','C','D','E','F'])
dframe2

       col1      col2      col3      col4      col5
A  0.784344  0.358296 -1.776142 -0.817136 -1.730637
B -0.315961  1.854868 -0.963207  2.426252 -1.565647
C       NaN       NaN       NaN       NaN       NaN
D  0.099807  1.414813 -0.435944 -0.776816 -0.506856
E -0.643955 -1.172568 -0.404061 -0.703940  1.258337
F  0.155710  1.639633 -1.388666  2.385602 -1.007078

In [11]:
new_columns = ['col1','col2','col3','col4','col5','col6']

In [13]:
dframe2.reindex(columns = new_columns)
dframe2

       col1      col2      col3      col4      col5
A  0.784344  0.358296 -1.776142 -0.817136 -1.730637
B -0.315961  1.854868 -0.963207  2.426252 -1.565647
C       NaN       NaN       NaN       NaN       NaN
D  0.099807  1.414813 -0.435944 -0.776816 -0.506856
E -0.643955 -1.172568 -0.404061 -0.703940  1.258337
F  0.155710  1.639633 -1.388666  2.385602 -1.007078

In [14]:
dframe

       col1      col2      col3      col4      col5
A  0.784344  0.358296 -1.776142 -0.817136 -1.730637
B -0.315961  1.854868 -0.963207  2.426252 -1.565647
D  0.099807  1.414813 -0.435944 -0.776816 -0.506856
E -0.643955 -1.172568 -0.404061 -0.703940  1.258337
F  0.155710  1.639633 -1.388666  2.385602 -1.007078

In [15]:
dframe.ix[['A','B','C','D','E','F'],new_columns]

       col1      col2      col3      col4      col5  col6
A  0.784344  0.358296 -1.776142 -0.817136 -1.730637   NaN
B -0.315961  1.854868 -0.963207  2.426252 -1.565647   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  0.099807  1.414813 -0.435944 -0.776816 -0.506856   NaN
E -0.643955 -1.172568 -0.404061 -0.703940  1.258337   NaN
F  0.155710  1.639633 -1.388666  2.385602 -1.007078   NaN