In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
ser1 = Series(np.random.randn(6), index = ['A','B','C','D','E','F'])

In [3]:
ser1

A   -1.043470
B    0.178559
C   -0.948699
D   -1.782116
E    1.341507
F    0.228407
dtype: float64

In [4]:
df1 = DataFrame(np.arange(16).reshape(4,4),
               index = ['a','b','c','d'],
               columns=['M','Tu','W','Th'])

In [5]:
df1

    M  Tu   W  Th
a   0   1   2   3
b   4   5   6   7
c   8   9  10  11
d  12  13  14  15

In [16]:
blender = np.array([1,3,2,0])

In [17]:
blender

array([1, 3, 2, 0])

In [14]:
blender1 = [1, 3,2,0]

In [18]:
df1.take(blender)

    M  Tu   W  Th
b   4   5   6   7
d  12  13  14  15
c   8   9  10  11
a   0   1   2   3

In [19]:
df2 = DataFrame(np.random.randn(10,4))
df2

          0         1         2         3
0 -0.477775 -0.102352  0.584125  0.839571
1 -0.996677 -0.240048  1.016615 -0.735539
2  1.529661  1.287229 -0.568627  0.277395
3 -0.473801 -0.140576 -2.116052  1.781832
4  0.013888  1.985389  0.882414 -0.627299
5 -1.833619 -0.122977  2.386453  0.326058
6 -0.814415 -0.923464 -0.109541  1.605820
7  0.149685 -1.148066 -1.819714 -0.840321
8 -0.208337  0.335751  0.944642 -0.369349
9 -0.473627  0.120192  0.568676  0.175831

In [20]:
df2.head()

          0         1         2         3
0 -0.477775 -0.102352  0.584125  0.839571
1 -0.996677 -0.240048  1.016615 -0.735539
2  1.529661  1.287229 -0.568627  0.277395
3 -0.473801 -0.140576 -2.116052  1.781832
4  0.013888  1.985389  0.882414 -0.627299

In [21]:
df2.describe()

               0          1          2          3
count  10.000000  10.000000  10.000000  10.000000
mean   -0.358502   0.105108   0.176899   0.243400
std     0.870281   0.936260   1.369335   0.934362
min    -1.833619  -1.148066  -2.116052  -0.840321
25%    -0.730255  -0.215180  -0.453855  -0.562811
50%    -0.473714  -0.112665   0.576401   0.226613
75%    -0.041668   0.281862   0.929085   0.711193
max     1.529661   1.985389   2.386453   1.781832