In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

### Reason using "pd.Index" is to be able to use 'name' at the same time defining the Index and Columns

In [2]:
df1 = DataFrame(np.arange(8).reshape(2,4),
               index=pd.Index(['LA','SF'], name = 'city'),
               columns=pd.Index(['A','B','C','D'], name = 'letter'))

In [3]:
df1

letter  A  B  C  D
city
LA      0  1  2  3
SF      4  5  6  7

## pivot the data frame

In [4]:
df_st = df1.stack()

In [5]:
df_st

city  letter
LA    A         0
      B         1
      C         2
      D         3
SF    A         4
      B         5
      C         6
      D         7
dtype: int64

In [6]:
df_st.unstack()

letter  A  B  C  D
city
LA      0  1  2  3
SF      4  5  6  7

In [10]:
# unstack uses 'name' of index and column 
# to which the unstack orientied with

df_st.unstack('letter')

letter  A  B  C  D
city
LA      0  1  2  3
SF      4  5  6  7

In [8]:
df_st.unstack('city')

city    LA  SF
letter
A        0   4
B        1   5
C        2   6
D        3   7

In [11]:
ser1 = Series([0,1,2],index=['Q','X','Y'])
ser2 = Series([4,5,6],index=['X','Y','Z'])

In [19]:
df = pd.concat([ser1,ser2], keys = ['Alpha','Beta'])

### Not a dataframe yet - need to unstack

In [13]:
df

Alpha  Q    0
       X    1
       Y    2
Beta   X    4
       Y    5
       Z    6
dtype: int64

In [21]:
df.unstack()

        Q  X  Y   Z
Alpha   0  1  2 NaN
Beta  NaN  4  5   6

### NaN in data frame becomes 0 when use 'stack'

In [22]:
df.unstack().stack()

Alpha  Q    0
       X    1
       Y    2
Beta   X    4
       Y    5
       Z    6
dtype: float64

In [25]:
df.unstack()

        Q  X  Y   Z
Alpha   0  1  2 NaN
Beta  NaN  4  5   6

In [36]:
df = df.unstack()

### stack only applies to a DataFrame

In [38]:
df.stack(dropna=False)

Alpha  Q     0
       X     1
       Y     2
       Z   NaN
Beta   Q   NaN
       X     4
       Y     5
       Z     6
dtype: float64

In [39]:
df

        Q  X  Y   Z
Alpha   0  1  2 NaN
Beta  NaN  4  5   6

In [40]:
df.stack()

Alpha  Q    0
       X    1
       Y    2
Beta   X    4
       Y    5
       Z    6
dtype: float64

In [41]:
df

        Q  X  Y   Z
Alpha   0  1  2 NaN
Beta  NaN  4  5   6

In [42]:
df.stack(dropna=False)

Alpha  Q     0
       X     1
       Y     2
       Z   NaN
Beta   Q   NaN
       X     4
       Y     5
       Z     6
dtype: float64