## 7/1/2016 re-study

In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
import webbrowser
website = 'http://en.wikipedia.org/wiki/NFL_win-loss_records'
webbrowser.open(website)

True

### Go to the webpage and select the first 5 rows from the table and COPY!

In [4]:
nfl_frame = pd.read_clipboard()

In [5]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Chicago Bears,741,555,42,0.570,1920,"1,338",NFC North
1,2,Dallas Cowboys,480,364,6,0.568,1960,850,NFC East
2,3,Green Bay Packers,720,547,37,0.566,1921,"1,304",NFC North
3,4,Miami Dolphins,429,335,4,0.561,1966,768,AFC East
4,5,New England Patriots,462,381,9,0.548,1960,852,AFC East

In [6]:
nfl_frame.columns

Index([u'Rank', u'Team', u'Won', u'Lost', u'Tied', u'Pct.',
       u'First NFL Season', u'Total Games', u'Division'],
      dtype='object')

In [7]:
nfl_frame.Rank

0    1
1    2
2    3
3    4
4    5
Name: Rank, dtype: int64

In [9]:
# columns with more than one word

nfl_frame['First NFL Season']

0    1920
1    1960
2    1921
3    1966
4    1960
Name: First NFL Season, dtype: int64

In [10]:
DataFrame(nfl_frame,columns=['Team','First NFL Season','Total Games'])

                   Team  First NFL Season Total Games
0         Chicago Bears              1920       1,338
1        Dallas Cowboys              1960         850
2     Green Bay Packers              1921       1,304
3        Miami Dolphins              1966         768
4  New England Patriots              1960         852

In [12]:
DataFrame(nfl_frame,columns=['Team','First NFL Season','Total Games','Stadium'])

                   Team  First NFL Season Total Games  Stadium
0         Chicago Bears              1920       1,338      NaN
1        Dallas Cowboys              1960         850      NaN
2     Green Bay Packers              1921       1,304      NaN
3        Miami Dolphins              1966         768      NaN
4  New England Patriots              1960         852      NaN

In [13]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Chicago Bears,741,555,42,0.570,1920,"1,338",NFC North
1,2,Dallas Cowboys,480,364,6,0.568,1960,850,NFC East
2,3,Green Bay Packers,720,547,37,0.566,1921,"1,304",NFC North
3,4,Miami Dolphins,429,335,4,0.561,1966,768,AFC East
4,5,New England Patriots,462,381,9,0.548,1960,852,AFC East

In [14]:
nfl_frame.head()

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Chicago Bears,741,555,42,0.570,1920,"1,338",NFC North
1,2,Dallas Cowboys,480,364,6,0.568,1960,850,NFC East
2,3,Green Bay Packers,720,547,37,0.566,1921,"1,304",NFC North
3,4,Miami Dolphins,429,335,4,0.561,1966,768,AFC East
4,5,New England Patriots,462,381,9,0.548,1960,852,AFC East

In [15]:
nfl_frame.iloc[3]

Rank                             4
Team                Miami Dolphins
Won                            429
Lost                           335
Tied                             4
Pct.                         0.561
First NFL Season              1966
Total Games                    768
Division                  AFC East
Name: 3, dtype: object

In [16]:
nfl_frame.ix[3]

Rank                             4
Team                Miami Dolphins
Won                            429
Lost                           335
Tied                             4
Pct.                         0.561
First NFL Season              1966
Total Games                    768
Division                  AFC East
Name: 3, dtype: object

In [17]:
nfl_frame['Stadium'] = "Levi's Stadium"

In [18]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
0,1,Chicago Bears,741,555,42,0.570,1920,"1,338",NFC North,Levi's Stadium
1,2,Dallas Cowboys,480,364,6,0.568,1960,850,NFC East,Levi's Stadium
2,3,Green Bay Packers,720,547,37,0.566,1921,"1,304",NFC North,Levi's Stadium
3,4,Miami Dolphins,429,335,4,0.561,1966,768,AFC East,Levi's Stadium
4,5,New England Patriots,462,381,9,0.548,1960,852,AFC East,Levi's Stadium

In [19]:
nfl_frame['Stadium'] = np.arange(5)

In [20]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
0,1,Chicago Bears,741,555,42,0.570,1920,"1,338",NFC North,0
1,2,Dallas Cowboys,480,364,6,0.568,1960,850,NFC East,1
2,3,Green Bay Packers,720,547,37,0.566,1921,"1,304",NFC North,2
3,4,Miami Dolphins,429,335,4,0.561,1966,768,AFC East,3
4,5,New England Patriots,462,381,9,0.548,1960,852,AFC East,4

In [21]:
stadiums = Series(["Levi's Stadium","AT&T Stadium"],index = [4,0])

In [22]:
stadiums

4    Levi's Stadium
0      AT&T Stadium
dtype: object

In [23]:
nfl_frame['Stadium'] = stadiums

In [24]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
0,1,Chicago Bears,741,555,42,0.570,1920,"1,338",NFC North,AT&T Stadium
1,2,Dallas Cowboys,480,364,6,0.568,1960,850,NFC East,NaN
2,3,Green Bay Packers,720,547,37,0.566,1921,"1,304",NFC North,NaN
3,4,Miami Dolphins,429,335,4,0.561,1966,768,AFC East,NaN
4,5,New England Patriots,462,381,9,0.548,1960,852,AFC East,Levi's Stadium

In [25]:
del nfl_frame['Stadium']

In [26]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Chicago Bears,741,555,42,0.570,1920,"1,338",NFC North
1,2,Dallas Cowboys,480,364,6,0.568,1960,850,NFC East
2,3,Green Bay Packers,720,547,37,0.566,1921,"1,304",NFC North
3,4,Miami Dolphins,429,335,4,0.561,1966,768,AFC East
4,5,New England Patriots,462,381,9,0.548,1960,852,AFC East

In [27]:
data = {'City':['SF','LA','NYC'],'Population':[83700,3880000,8400000]}

In [28]:
data

{'City': ['SF', 'LA', 'NYC'], 'Population': [83700, 3880000, 8400000]}

In [29]:
city_frame = DataFrame(data)

In [30]:
city_frame

  City  Population
0   SF       83700
1   LA     3880000
2  NYC     8400000