In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series

In [2]:
dframe = DataFrame({'k1':['X','X','Y','Y','Z'],
                    'k2':['alpha','beta','alpha','beta','alpha'],
                    'dataset1':np.random.randn(5),
                    'dataset2':np.random.randn(5)})
dframe

   dataset1  dataset2 k1     k2
0  0.279558 -0.176098  X  alpha
1 -1.052462  1.667048  X   beta
2 -2.105974 -1.011857  Y  alpha
3  0.001566 -1.454650  Y   beta
4 -1.100729 -0.868979  Z  alpha

In [3]:
dframe['dataset1']

0    0.279558
1   -1.052462
2   -2.105974
3    0.001566
4   -1.100729
Name: dataset1, dtype: float64

## why this does not work?

In [5]:
Series(dframe['dataset1'].groupby(dframe['k1']))

ValueError: cannot set an array element with a sequence

In [6]:
group1 = dframe['dataset1'].groupby(dframe['k1'])
group1

In [7]:
group1.mean()

k1
X   -0.386452
Y   -1.052204
Z   -1.100729
Name: dataset1, dtype: float64

In [8]:
cities = np.array(['NY','LA','LA','NY','NY'])
month = np.array(['JAN','FEB','JAN','FEB','JAN'])

In [9]:
Series(dframe['dataset1'].groupby([cities,month]))

0                    ((LA, FEB), [-1.05246188357])
1                    ((LA, JAN), [-2.10597363633])
2                  ((NY, FEB), [0.00156629851176])
3    ((NY, JAN), [0.279557821857, -1.10072949428])
dtype: object

In [8]:
dframe['dataset1'].groupby([cities,month]).mean()

LA  FEB   -0.640331
    JAN    0.998022
NY  FEB    1.390021
    JAN   -1.373802
Name: dataset1, dtype: float64

In [10]:
dframe

   dataset1  dataset2 k1     k2
0  0.279558 -0.176098  X  alpha
1 -1.052462  1.667048  X   beta
2 -2.105974 -1.011857  Y  alpha
3  0.001566 -1.454650  Y   beta
4 -1.100729 -0.868979  Z  alpha

### NOTE

## dataset1 and cities/month has nothing to do with. They matches based on the order or dataset1 and cities/month arrays.

In [11]:
Series(dframe['dataset1'].groupby([cities,month]))

0                    ((LA, FEB), [-1.05246188357])
1                    ((LA, JAN), [-2.10597363633])
2                  ((NY, FEB), [0.00156629851176])
3    ((NY, JAN), [0.279557821857, -1.10072949428])
dtype: object

### ---------

In [14]:
dframe

   dataset1  dataset2 k1     k2
0  0.279558 -0.176098  X  alpha
1 -1.052462  1.667048  X   beta
2 -2.105974 -1.011857  Y  alpha
3  0.001566 -1.454650  Y   beta
4 -1.100729 -0.868979  Z  alpha

In [12]:
dframe.groupby('k1').mean()

    dataset1  dataset2
k1
X  -0.386452  0.745475
Y  -1.052204 -1.233254
Z  -1.100729 -0.868979

In [16]:
dframe.groupby(['k1','k2']).mean()

          dataset1  dataset2
k1 k2
X  alpha  0.279558 -0.176098
   beta  -1.052462  1.667048
Y  alpha -2.105974 -1.011857
   beta   0.001566 -1.454650
Z  alpha -1.100729 -0.868979

In [32]:
dframe

   dataset1  dataset2 k1     k2
0 -1.008194 -0.422378  X  alpha
1 -0.640331 -0.566163  X   beta
2  0.998022 -0.930263  Y  alpha
3  1.390021 -1.290115  Y   beta
4 -1.739410 -0.531659  Z  alpha

In [17]:
dframe.groupby(['k1']).size()

k1
X    2
Y    2
Z    1
dtype: int64

## iterating through groups

In [18]:
for name,group in dframe.groupby('k1'):
    print "This is the %s group" %name
    print group
    print '\n'

This is the X group
   dataset1  dataset2 k1     k2
0  0.279558 -0.176098  X  alpha
1 -1.052462  1.667048  X   beta


This is the Y group
   dataset1  dataset2 k1     k2
2 -2.105974 -1.011857  Y  alpha
3  0.001566 -1.454650  Y   beta


This is the Z group
   dataset1  dataset2 k1     k2
4 -1.100729 -0.868979  Z  alpha

In [35]:
for (k1,k2), group in dframe.groupby(['k1','k2']):
    print "Key1 = %s Key2 = %s" %(k1,k2)
    print group
    print '\n'

Key1 = X Key2 = alpha
   dataset1  dataset2 k1     k2
0 -1.008194 -0.422378  X  alpha


Key1 = X Key2 = beta
   dataset1  dataset2 k1    k2
1 -0.640331 -0.566163  X  beta


Key1 = Y Key2 = alpha
   dataset1  dataset2 k1     k2
2  0.998022 -0.930263  Y  alpha


Key1 = Y Key2 = beta
   dataset1  dataset2 k1    k2
3  1.390021 -1.290115  Y  beta


Key1 = Z Key2 = alpha
   dataset1  dataset2 k1     k2
4  -1.73941 -0.531659  Z  alpha

In [36]:
dframe

   dataset1  dataset2 k1     k2
0 -1.008194 -0.422378  X  alpha
1 -0.640331 -0.566163  X   beta
2  0.998022 -0.930263  Y  alpha
3  1.390021 -1.290115  Y   beta
4 -1.739410 -0.531659  Z  alpha

### using dictionary

In [45]:
list(dframe.groupby('k1'))

[('X',    dataset1  dataset2 k1     k2
  0 -1.008194 -0.422378  X  alpha
  1 -0.640331 -0.566163  X   beta), ('Y',    dataset1  dataset2 k1     k2
  2  0.998022 -0.930263  Y  alpha
  3  1.390021 -1.290115  Y   beta), ('Z',    dataset1  dataset2 k1     k2
  4  -1.73941 -0.531659  Z  alpha)]

In [37]:
group_dict = dict(list(dframe.groupby('k1')))

In [38]:
group_dict['X']

   dataset1  dataset2 k1     k2
0 -1.008194 -0.422378  X  alpha
1 -0.640331 -0.566163  X   beta

In [39]:
group_dict_axis1 = dict(list(dframe.groupby(dframe.dtypes, axis = 1)))

In [40]:
group_dict_axis1

{dtype('float64'):    dataset1  dataset2
 0 -1.008194 -0.422378
 1 -0.640331 -0.566163
 2  0.998022 -0.930263
 3  1.390021 -1.290115
 4 -1.739410 -0.531659, dtype('O'):   k1     k2
 0  X  alpha
 1  X   beta
 2  Y  alpha
 3  Y   beta
 4  Z  alpha}

In [46]:
dataset2_group = dframe.groupby(['k1','k2'])[['dataset2']]

dataset2_group.mean()

          dataset2
k1 k2
X  alpha -0.422378
   beta  -0.566163
Y  alpha -0.930263
   beta  -1.290115
Z  alpha -0.531659